@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
body {
    background-color: #073071;
    margin: 0;
}

.marco-exterior{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-gap: 15px;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 59px 1fr;
}
.marco-titulo{
    display: grid;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    height: 65px;
}
.titulo{
    display: grid;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    height: 65px;
    width: 100vw;
    background-clip: text;
    color:plum;
    font-family: "Secular One", sans-serif;
}
.ruleta {
    height: 350px;
    width: 50vw;
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    }
    
.movimiento {
    display: grid;
    }
    
    @keyframes rotate {
    0% {
    transform: rotate (0deg);
    }
    100% {
    transform: rotate (360deg);
    }
    }
    
.marco-exterior .titulo {
    grid-column: 1/2;
    grid-row: 1/2;
    }
    
.marco-exterior .cont-flecha {
    grid-column: 1/2;
    grid-row:  2/3;
    width: 50px;
    height: 50px;
    }
    
.marco-exterior .ruleta {
    grid-column: 1/2;
    grid-row: 3/4;
    }
    
.cono {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    animation: rotate 5s infinite linear;
    border: 5px solid #f7981f;
    border-radius: 50%;
    }
    
.tamaño {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    grid-column: 1/2;
    grid-row: 1/2;
    }
    
.flecha{
    width: 50px;
    height: 50px;
    background: #cacaca;
    clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0% 50%,
    );
    transform: rotate (270deg);
    }
    .circulo {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        background: blue;
        grid-column: 1/2;
        grid-row: 1/2;
      }
      
      .cono1{
        background: #ff64bb;
        /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
        clip-path: polygon(50% 0, 50% 50%, 0 0);
      }
      
      .cono2 {
        background: #fff;
        clip-path: polygon(50% 0, 50% 50%, 0 0);
        transform: rotate(45deg);
      }
      
      .cono3 {
        clip-path: polygon(50% 0, 50% 50%, 0 0);
        transform: rotate(90deg);
        background: #00b7ff;
      }
      
      .cono4 {
        clip-path: polygon(50% 0, 50% 50%, 0 0);
        transform: rotate(135deg);
        background: #536eff;
      }
      
      .cono5 {
        clip-path: polygon(50% 0, 50% 50%, 0 0);
        transform: rotate(180deg);
        background: #3116f0;
      }
      
      .cono6 {
        clip-path: polygon(50% 0, 50% 50%, 0 0);
        transform: rotate(225deg);
        background: #ffe300;
      }
      
      .cono7 {
        clip-path: polygon(50% 0, 50% 50%, 0 0);
        transform: rotate(270deg);
        background: red;
      }
      
      .cono8 {
        clip-path: polygon(50% 0, 50% 50%, 0 0);
        transform: rotate(315deg);
        background: #ff6225;
      }
      